@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');


@font-face {
    font-family: boldgod;
    src: url(/src/assets/font/Specify\ PERSONAL\ Expanded\ Bold.woff);
}
.small-left{
    font-size: 10px;
}
.header-sl{
    position: absolute;
    font-family: domaine;
    text-transform: uppercase;
    font-size: 8em;
    top: 60%;
    left: 5%;
    color: aquamarine;
}
.more-yell{
    color: rgb(187, 255, 0);
}
.nft-yell{
    color: rgb(187, 255, 0);
}
.art-two{
    color: rgb(187, 255, 0);
}
.art-one{
    color: rgb(187, 255, 0);
}
.more-thn{
    font-size: 4em;
    line-height: 70px;
}
.meta-des{
    color: grey;
    font-size: 1em;
    text-transform: none;
    font-family: 'Noto Sans', sans-serif;
    line-height: 20px;
}
.purp-pic{
    position: absolute;
    height: 570px;
    width: auto;
    top: -80px;
    left: 55%;
}